body {
    margin-top: 90px;
    background-image: linear-gradient(to bottom right, lightseagreen, white);
}

.container {
    margin: auto;
    width: 500px;
    padding-top: 10px;
    background-color: white;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.5);
    height: 50px;
    justify-content: space-between;
    font-size: 29px;
    text-align: center;
    border-radius: 10px;
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 20px;

}

.container1 {
    margin: auto;
    width: 500px;
    background-color: white;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.5);
    height: 450px;
    justify-content: space-between;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    padding-top: 10px;
}

.container h3 {
    font-family: 'Aboreto', cursive;
    width: 500px;
    font-size: 10px;
}

label {
    padding-top: 50px;
}

input {
    width: 450px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid lightcyan;
    background-color: lightcyan;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    align-items: center;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Libre Baskerville', serif;
    font-weight: bolder;
}

.button {
    background-color: lightslategray;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid lightseagreen;
    background-color: lightseagreen;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    cursor: pointer;
    margin-top: 30px;
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 20px;
    font-size: 15px;
}

hr {
    width: 450px;
    border: 1px solid lightseagreen;
    
}